@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background: radial-gradient(indigo, violet, lightsalmon);
}

main {
   border-radius: 1rem;
   box-shadow: 0 0 3rem rgba(91, 236, 241, 0.972);
   margin: 2rem auto;
   max-width: 70rem;

   width: 95%;
}
